.nav {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(131, 121, 94);
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    color: black;
}
.nav li a:hover {
    background-color: rgb(92, 82, 58);
}
.active-navpage {
    background-color: rgb(106, 97, 78);
}
.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(131, 121, 94);
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 18px;
  }
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    overflow: auto;
  }
body{
    background-color: rgb(57, 52, 36);
  }
.grid-item {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}