/*nav*/
.nav {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-size: large;
    color: black;
    transition-duration: 0.4s;
}
.nav li a:hover {
    color: white;
}
.active-navpage {
    font-weight: 700;
    font-style: normal;
}
.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}
/*general*/
.pinkbg {
    background-color: pink;
}
.container {
    margin: 50px auto;
    border: 2px solid rgb(239, 116, 196);
    padding: 15px 30px;
    background-color: rgb(236, 145, 199);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.button {
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 8px 15px;
    color: rgb(40, 25, 14);
    border: 2px solid rgb(146, 5, 127);
    margin: 20px;
}
.button:hover {
    background-color: rgb(249, 168, 230);
    color: white;
}
.center {
    display: block;
    margin: 40px auto;
}
/*fonts*/
.reg {
    font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bold {
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/*footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: -18px;
    width: 100%;
    background-color: rgb(254, 194, 255);
    color: black;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 18px;
    border: 2px solid black;
  }
