body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.header {
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 20px;
}
/* Now style the three responsive div's */
/* responsive elements */ 
.left {
    float: left;
    width: 20%;
}
.main {
    float: left;
    width: 60%;
}
.right {
    float: left;
    width: 20%;
}
/* talk about basic layout and what can we do to fix it */
.right {
    background-color: darkgray;
    color: white;
}
.main {
    padding: 0 20px;
}
.right {
    padding: 15px;
}
/* why did we bump down and why did footer fill the void? */
* {
    box-sizing: border-box;
}
.right {
    margin-top: 10px;
}
/* Now to style links.  remember pseudo elements? */
.nav a {
    background-color: darkgray;
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
/* style footer */
.footer {
    background-color: darkgray;
    color: white;
    padding: 10px;
}
/* broken then add to top */
.footer {
    clear: both;
    margin-top: 10px;
}
/* not margin top -- how do we fix?  style container */
.container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
/* Lastly center it a bit */
footer {
    width: 60%;
    margin: 0 auto;
}
/* last step. make it responsive */
/* for mobile phones */
@media only screen and (max-width:620px) {
    .left, .main, .right {
    width:100%;
    }
}
/* if time, tablet */
/* for tablet */
@media (min-width:621px) and (max-width:1000px) {
   .main {
        width: 80%;
    }
    .right {
    width:100%;
    }
}
/* and font below body*/
h1 {
    font-size: 5vw;
}
h2 {
    font-size: 2vw;
}
h3 {
    font-size: 1.8vw;
}
p, a {
    font-size: 1.6vw;
}
