/*fonts*/
.reg {
    font-family: "kepler-std", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.bold {
    font-family: "kepler-std", serif;
    font-weight: 700;
    font-style: normal;
}
.italic {
    font-family: "kepler-std", serif;
    font-weight: 400;
    font-style: italic;
}
.italic-caption {
    font-family: "kepler-std-caption", serif;
    font-weight: 300;
    font-style: italic;
}
/*colors*/
.graybg {
    background-color: rgb(223, 225, 223);
}
.claybg {
    background-color: rgb(135, 124, 113);
}
.brownbg {
    background-color: rgb(190, 171, 157);
}
.dbrown {
    background-color: rgb(80, 76, 68);
}
.container {
    margin: 90px auto;
    border: 2px solid rgb(80, 76, 68);
    padding: 25px 50px;
    background-color: white;
}
/*nav*/
.nav {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-size: large;
    color: black;
    transition-duration: 0.4s;
}
.nav li a:hover {
    color: white;
}
.active-navpage {
    font-family: "kepler-std", serif;
    font-weight: 700;
    font-style: normal;
}
.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}
/*general*/
.button {
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 8px 15px;
    color: rgb(40, 25, 14);
    border: 2px solid rgb(135, 124, 113);
    margin: 20px;
}
.button:hover {
    background-color: rgb(135, 124, 113);
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }