.container {
    margin: 20px 50px;
    border: 1px solid black;
    padding: 100px;
    background-color: white;
}

body{
    background-image: url("images/background.avif")
}

.nav {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(255, 164, 228);
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    color: black;
}

.nav li a:hover {
    background-color: rgb(232, 71, 189);
}

.active-navpage {
    background-color: rgb(254, 115, 233);
}

.title {
    text-align: center;
    font-size: 50px;
}

.subheading {
    font-size: 30px;
}

.roman {
    font-family: "miller-text", serif;
    font-weight: 400;
    font-style: normal;
}

.italic {
    font-family: "miller-text", serif;
    font-weight: 400;
    font-style: italic;
}

.bold {
    font-family: "miller-text", serif;
font-weight: 700;
font-style: normal;
}

.bold-italic {
    font-family: "miller-text", serif;
    font-weight: 700;
    font-style: italic;
}

